  <div class="col-12 d-flex justify-content-center">
    <div class="cart" [ngStyle]="{'height.px': innerHeight}">
      <h3 class="text-center mb-4 mt-4">Your Cart</h3>
      <ng-container *ngIf="gamesInTheCart.length===0 && !isPending">
        <h4 class="text-center mb-4 mt-4">Your cart is empty yet! Please visit the
          <a class="link" (click)="goToStore()">store</a> .
        </h4>

      </ng-container>

      <ng-container *ngFor="let game of gamesInTheCart">
        <table class="table table-dark table-borderless table-hover" (click)="goToGameDetailPage(game.steam_appid)">
          <tbody>
            <tr>
              <td class="w-25 p-0"><img src="{{game.header_image}}" alt="image"></td>
              <td class="w-50 text-center align-middle p-0">
                <h4 class="table-name">{{game.name}}</h4>
              </td>
              <td class="w-25 text-end align-middle p-0 pe-5">
                <h4 class="table-price">{{game.price_in_final_formatted}} €</h4>
              <td class="text-end align-middle p-0 pe-3">
                <i class="fa-solid fa-xmark" (click)="removeItemFromCart(game.steam_appid)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>


      <div class="summary pt-3" *ngIf="gamesInTheCart.length!==0">
        <hr>
        <div class="summary-text">

          <div class="summary-remove">
            <h5 class="mb-1">Remove all items from cart</h5>
            <i class="fa-solid fa-xmark" (click)="removeAllItemsFromCart()"></i>
          </div>
          <h5 class="mb-1">Summary Price: <b> {{itemsAmount}}</b> €</h5>
        </div>

        <div class="d-flex justify-content-center pt-3">
          <div class="alert alert-danger mt-2 p-2" role="alert" *ngIf="errorMessage !== ''">
            <p class="m-0">{{errorMessage}}</p>
          </div>
        </div>

        <div class="text-center">
          <button type="button" class="btn btn-outline-light" (click)="buyAllGamesFromCart()"
            *ngIf="!isPending">Purchase</button>
          <i class="fa fa-hurricane fa-spin spinner" *ngIf="isPending"></i>
        </div>



      </div>
    </div>
  </div>