<div class="container-fluid scroller" #scrollableDiv [ngStyle]="{'height.px': innerHeight}">
    
    <div class="row flex-container" *ngIf="!isPending">
        <ng-container *ngFor="let game of gamesFromDatabase | paginate
        : {
            itemsPerPage: itemsPerPage,
            currentPage: currentPage,
            totalItems: totalElements
          }">
            <div class="card" style="width: 22rem;" (click)="goToGameDeatil(game.steam_appid)">
                <img src="{{game.header_image}}" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{game.name}}</h5>
                    <p class="card-text">{{game.short_description}}</p>
                </div>
                <div class="genres">
                    <ng-container *ngFor="let gameGenre of game.genres">
                        <p>{{gameGenre}}</p>
                    </ng-container>
                </div>
                <div class="platforms_age">
                    <p>Required Age: <span>{{game.required_age}}</span></p>
                    <div class="platforms">
                        <i *ngIf="getPlatform(game,'Windows')" class="fa-brands fa-windows"></i>
                        <i *ngIf="getPlatform(game,'Mac')" class="fa-brands fa-apple"></i>
                        <i *ngIf="getPlatform(game,'Linux')" class="fa-brands fa-linux"></i>
                    </div>
                </div>
                <h4 *ngIf="getGamePrice(game) === 1">{{game.price_in_final_formatted}} €</h4>
                <h4 *ngIf="getGamePrice(game) === 2">Free</h4>
                <h4 *ngIf="getGamePrice(game) === 3">N/A</h4>
            </div>
        </ng-container>
        <div class="d-flex justify-content-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>

    <div class="row flex-container" *ngIf="isPending">
        <div class="row">
            <h3 class="pending" *ngIf="isPending">
                <i class="fa fa-hurricane fa-spin spinner"></i>
            </h3>
        </div>
    </div>
</div>