.library-search {
    background-color: rgb(2, 55, 58);
}

i {
    font-size: 1.4rem;    

}

.input {
    padding: 0.2rem;  
    height: fit-content;
    background-color: rgb(2, 52, 55);
}

.input input {  
    background-color: rgb(4, 68, 72);
    border: none;
    color: antiquewhite;  
}

.input input:focus {
   outline: 0;
}


