<div class="details text-center" [ngStyle]="{'height.px':innerHeight}">
    <h2>Details work</h2>

<div class="row m-0 p-0 d-flex justify-content-center">
    <ng-container *ngIf="isSelectedGame">
        
        <div class="card">
            <div class="row g-3">
                <div class="col-md-8 game-gallery">
                    <img src="{{firstScreenshot}}" alt="image 1" class="preview-img">
                </div>
                <div class="col-md-4 game-details p-0">
                    <img class="header-img" src="{{game.$header_image}}" alt="">
                    <p class="card-title text-start">{{game.$name}}</p>
                    <p class="card-text text-start">{{game.$short_description}}</p>
                </div>
            </div>
        </div>      

    </ng-container>
</div>


</div>