<div class="details text-center" [ngStyle]="{'height.px':innerHeight}">
    <h1>Game Details</h1>
    <div class="row m-0 p-0 d-flex justify-content-center">
        <ng-container *ngIf="isSelectedGame">

            <div class="card">
                <h2 class="card-title text-start p-0 m-4">{{gameName}}</h2>
                <div class="row gallery-details-panel">
                    <div class="col-md-8 game-gallery pe-5">
                        <div class="row">
                            <div class="col-12 p-0">
                                <img src="{{firstScreenshot}}" alt="image 1" class="preview-img">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-space-beetween my-2" *ngIf="screenshots.length>1">
                            <div class="col-12 navigation d-flex justify-content-between p-0">
                                <i class="fa-solid fa-circle-chevron-left" (click)="prevPic()"></i> 
                                <i class="fa-solid fa-circle-chevron-right" (click)="nextPic()"></i>
                            </div>
                        </div>                  
                        <div class="row">
                            <div class="col-12 p-0 thumbnails" id="thumbs">
                                <ng-container *ngFor="let imgSource of screenshots; let i = index;">
                                    <div class="img-slide"
                                        [ngClass]="firstScreenshot === imgSource ? 'opacity-100':'opacity-25'">

                                        <img src={{imgSource}} alt="" (click)="changePic(i)" id="{{i}}"
                                            [ngClass]="firstScreenshot === imgSource ? 'active':''">

                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-md-4 game-details p-0">
                        <img class="header-img" src="{{game.$header_image}}" alt="">
                        <p class="card-text text-start">{{game.$short_description}}</p>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>


</div>