<div class="container-fluid flex-container" infinite-scroll (scrolled)="onScrollDown($event)">
    
            <ng-container  *ngFor="let game of gamesFromDatabase">
                <div class="card" style="width: 22rem;">
                    <img src="{{game.header_image}}" alt="image" >                      
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                        <p class="card-text">{{game.short_description}}</p>
                    </div>
                    <div class="genres">
                      <ng-container *ngFor="let gameGenre of game.genres">
                        <p>{{gameGenre}}</p>
                    </ng-container>
                    </div>
                    <h4 *ngIf="(game.price_in_final_formatted) !== null">{{game.price_in_final_formatted}}</h4>   
                    <h4 *ngIf="(game.price_in_final_formatted) === null">Free</h4>                         
                </div>
            </ng-container>
        </div>
