.content {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.game-card {
  background-image: linear-gradient(45deg, rgba(0, 0, 0,0.9), rgba(36, 75, 94,0.9));
  width: 21rem;
  height: 15rem; 
  box-shadow: 0px 0 7px 2px rgb(61, 101, 124);
  border-radius: 5px 5px 5px 5px;
  margin: 1.5rem;
  font-size: 1rem; 

}

.game-card:hover {
  cursor: pointer;
  width: 22rem;
  height: 16rem;
  margin: 1rem; 
  font-size: 1.1rem;

}

.game-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.game-card-body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.game-card-body p { 
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Courier New', Courier, monospace;
  margin:1rem;
}

.empty-library {
  display: flex;
  justify-content: center;
  height: max-content;
}

.empty-text {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  width: max-content;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(36, 75, 94, 0.8));
  border-radius: 10px 10px 10px 10px;
}

.store-link {
  text-decoration: none;
  color: blueviolet;
  cursor: pointer;
}