.content{
  width: 100%; 
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  
}
.game-card{ 
  width: 21rem;
  background-color: rgb(46, 48, 49);
  margin-top: 2rem;
  box-shadow: 0px 0 5px 2px rgb(61, 101, 124);
  border-radius: 10px 10px 10px 10px;
  margin: 1rem;
}

.game-card img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.game-card p{

}