<div class="container-fluid y-0 x-3">
    <div class="row ">
        <div class="col-12 flex-container">
            <div>
                <img class="logo" src="../../assets/img/logo.png" alt="">
            </div>
            <div class="form-panel">
                <form class="login" *ngIf="showLoginPage" [formGroup]="Login" (ngSubmit)="StartLogin()" >
                    <div class="mb-3">
                        <label for="userName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="userName" formControlName="userName">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password"  formControlName="password">
                    </div>
                    <div class="change-login-register">
                        <p>You don't have an account yet?</p>
                        <p class="fakeLoginBtn" (click)="changeRegisterOrLogin()">Register</p>
                    </div>
                    <div class="form-btns">
                        <button class="btn btn-outline-secondary">Login</button>
                    </div>
                </form>
          
                <form class="register" *ngIf="!showLoginPage" [formGroup]="Register" (ngSubmit)="StartRegister()">
                    <div class="mb-3">
                        <label for="userName" class="form-label">Username</label>
                        <input type="text" class="form-control" id="userName" formControlName="userName">
                        <div class="validate">
                            <p *ngIf="reg['userName'].errors?.['required']">Username is required</p>
                            <p *ngIf="reg['userName'].errors?.['minlength']">Username minimum 6 length</p>
                            <i class="valid-icons fa-solid fa-check" *ngIf="reg['userName'].errors === null"></i>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" validate>
                        <div class="validate">
                            <p *ngIf="reg['email'].errors?.['required']">Email is required</p>
                            <p *ngIf="reg['email'].errors?.['email']">Please add a valid email</p>
                            <i class="valid-icons fa-solid fa-check" *ngIf="reg['email'].errors === null"></i>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                        <div class="validate">
                            <p *ngIf="reg['password'].errors?.['required']">Password is required</p>
                            <p *ngIf="reg['password'].errors?.['minlength']">Password minimum 6 length</p>
                            <i class="valid-icons fa-solid fa-check" *ngIf="reg['password'].errors === null"></i>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="rePassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="rePassword" formControlName="rePassword">
                        <div class="validate">                           
                            <p *ngIf="reg['rePassword'].errors?.['required']">Please write the password again</p>
                            <p *ngIf="reg['rePassword'].value !== reg['password'].value && !reg['rePassword'].errors?.['required']">Passwords are different</p>                           
                            <i class="valid-icons fa-solid fa-check" *ngIf="reg['rePassword'].value === reg['password'].value && reg['rePassword'].value.length>5"></i>
                        </div>
                    </div>
                    <div class="change-login-register">

                        <p>You already have an account?</p>
                        <p class="fakeLoginBtn" (click)="changeRegisterOrLogin()">Login</p>
                    </div>

                    <div class="form-btns">
                        <button class="btn btn-outline-secondary">Register</button>
                    </div>
                </form>

            </div>
            <div class="alert alert-danger mt-2 p-2" role="alert" *ngIf="loginError && showLoginPage">
                <i class="me-3 fa-solid fa-triangle-exclamation"></i>
                <p class="m-0">{{errorMessage}}</p>                
            </div>

            <div class="alert alert-success mt-2 p-2" role="alert" *ngIf="regInfoMessageBox && showLoginPage">
                <i class="me-3 fa-solid fa-triangle-exclamation"></i>
                <p class="m-0">Registration was successed. Please Login.</p>
            </div>          

            <div class="alert alert-success mt-2 p-2" role="alert" *ngIf="loginSessionHasExperied && showLoginPage">
                <i class="me-3 fa-solid fa-right-to-bracket"></i>
                <p class="m-0">The session has expired, Please login again.</p>
            </div>

            <div class="alert alert-danger mt-2 p-2" role="alert" *ngIf="regValidationError && !showLoginPage">
                <i class="me-3 fa-solid fa-triangle-exclamation"></i>
                <p class="m-0">{{errorMessage}}</p>                
            </div>



        </div>
    </div>
</div>