.flex-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo {
    border-radius: 50%;
    width: 250px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 0px 15px lightblue;
}

.form-panel {
    margin-top: 2rem;
    background-image: url("../../assets/img/login_bg.jpg");
    box-shadow: 2px 0px 15px lightblue;

    padding: 1rem;
    min-width: 350px;
    max-width: 400px;
    min-height: 300px;
    background-color: black;
}

.form-panel input {
    color: wheat;
    background-color: rgba(17, 17, 17, 0.7)
}

.form-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

.form-btns button {
    width: 5rem;
    color: wheat;

}

.form-btns button:hover {
    background-color: rgba(17, 17, 17, 0.7)
}

.change-login-register {
    display: flex;
    justify-content: center;
}

.fakeLoginBtn {
    cursor: pointer;
    padding-left: 0.5rem;
    font-weight: bolder;
    color: violet;
}

.check-password {
    color: red;
}

.alert {
    background-color: rgb(252, 161, 161);
    border-color: brown;
    padding: 0.5rem;
    display: flex;    
    font-weight: 500; 
    align-items: center;     
}

.valid-icons{    
    color: greenyellow;
    margin-left: 1rem;
    font-size: 1.2rem;
}

