<div class="container-fluid y-0 x-3">
    <div class="row ">
        <div class="col-12 flex-container">
            <div>
                <h3>Welcome on Gamer Island!</h3>
            </div>            
            <div class="form-panel">
                <form>
                    <div class="mb-3">
                      <label for="userName" class="form-label">Username</label>
                      <input type="tex" class="form-control" id="userName">                    
                    </div>

                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password">
                    </div>                   
                    <button type="submit"  class="btn btn-outline-secondary">Login</button>
                  </form>

            </div>
        </div>
    </div>
</div>