.game-details-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

.detail {
    background-color: rgba(56, 65, 94, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: whitesmoke;
    text-shadow: 5px 5px 5px #000000;
}

.details-content {
    margin-top: 0%;
    max-width: 1600px;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}


.card {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;   
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(36, 75, 94));
    border: none;
    margin: 0.2rem;
}

.card-deteails{
   max-width: 90%;
}

.card-gallery{
  max-width: 60%;
}

.card-info{
    max-width: 30%;
  }
  

.card-content {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart {   
    padding: 1rem;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(36, 75, 94));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icon {
    text-shadow: 2px 2px 2px rgb(14, 14, 14);
    width: 8rem;
    display: flex;
    margin-left: 4.6rem;
    align-items: center;
    justify-content: space-between;

}

.fa-cart-plus {
    cursor: pointer;
    font-size: 1.6rem;
}

.fa-cart-plus:hover {
    color: greenyellow;
}
.buy-game-name{
    color: rgb(211, 172, 124);
}


.wishlist {
    margin: 1rem;   
    padding: 1rem;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(36, 75, 94));
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.wishlist-icon {
    cursor: pointer;
    font-size: 1.6rem;
    text-shadow: 2px 2px 2px rgb(14, 14, 14);  
}
.wishlist-icon:hover{
    color: greenyellow;
}
.wishlist-spinner-icon { 
    font-size: 1.6rem;
    text-shadow: 2px 2px 2px rgb(14, 14, 14);  
}
.wishlist-game-name{
    padding-right: 2rem;
    color: rgb(211, 172, 124);
}

.owned-game-icon{
    font-size: 1.6rem;
    text-shadow: 2px 2px 2px rgb(14, 14, 14);  
    color: greenyellow;
}


.thumbnails {
    overflow-x: scroll;
    max-width: 100%;
    display: flex;


}

.img-slide {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.img-slide img {
    width: 115px;
    height: 65px;
}

.navigation {
    cursor: pointer;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

}

.active {
    border: 1px solid whitesmoke;
    opacity: 100%;
}

.deactive {
    opacity: 25%;
}

.genres {
    cursor: pointer;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.3rem 0.3rem;

}

.genres p {
    padding: 0.3rem;
    margin: 0;
    background-color: rgba(37, 37, 37, 0.5);
}

.genres p:hover {
    background-color: rgba(24, 82, 105, 0.8);
}

.card h4 {
    padding-right: 1rem;
    text-align: end;
}

.platforms_age {
    display: flex;
    justify-content: space-between;
}

.platforms_age p span {
    font-weight: bolder;
}

.platforms i {
    justify-content: flex-end;
    padding-right: 1rem;
    font-size: 1.5rem;
}

.detailed-description-container {
    padding: 1rem;
    text-align: center;
}

.steam-link{
    text-decoration: none;
    color: blueviolet;
}
