<div class="row">
    <div class="col-md-4 col-xl-3 col-xxl-2 ps-0 pe-1 ">
        <app-store-search></app-store-search>
    </div>

    <div class="col-md-8 col-xl-9 col-xxl-10  ps-0 pe-0 detail" [ngStyle]="{'height.px': innerHeight}">

        <ng-container *ngIf="!isPending">

            <h3 class="text-center pt-4">{{game.name}}</h3>

            <div class="details-content">
                <div class="card" style="width: 41%;">
                    <img src="{{firstScreenshot}}" class="card-img-top" alt="header-image" style="height: 300px;">
                    <div class="navigation">
                        <i class="fa-solid fa-circle-chevron-left" (click)="prevPic()"></i>
                        <i class="fa-solid fa-circle-chevron-right" (click)="nextPic()"></i>
                    </div>
                    <div class="card-body">
                        <div class="thumbnails">
                            <ng-container *ngFor="let imgSource of screenshots; let i = index;">
                                <div class="img-slide"
                                    [ngClass]="firstScreenshot === imgSource ? 'opacity-100':'opacity-25'">
                                    <img src={{imgSource}} alt="" (click)="changePic(i)" id="{{i}}"
                                        [ngClass]="firstScreenshot === imgSource ? 'active':''">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="card ps-3" style="width: 30%;">
                    <img src="{{game.header_image}}" class="card-img-top" alt="header-image">
                    <div class="card-body">
                        <p class="card-text text-start">{{game.short_description}}</p>
                        <p class="card-text text-start">
                            <b> Publishers:</b> {{game.publishers}}
                            <br>
                            <b>Developers:</b> {{game.developers}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="details-info">
                <div class="card ps-3" style="width: 71%;">
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                    </div>
                </div>
            </div>

            <div class="details-content">
                <div class="cart">
                    <h5 class="p-0">Buy {{game.name}}</h5>
                    <div class="p-0 cart-icon">
                        <h5 class="p-0" *ngIf="game.price_in_final_formatted ===''">N/A</h5>
                        <h5 class="p-0">{{game.price_in_final_formatted}}</h5>
                        <i class="fa-solid fa-cart-plus"></i>
                    </div>
                </div>
            </div>




        </ng-container>

        <ng-container *ngIf="isPending">
            <h3 class="pending text-center pt-4" *ngIf="isPending">
                <i class="fa fa-hurricane fa-spin spinner"></i>
            </h3>
        </ng-container>


    </div>