<div class="content" [ngStyle]="{'height.px': innerHeight}">
    <ng-container *ngIf="!isPending">
        <div class="header">
            <img class="left-header" src="{{actualGameStat.gameScreenshot_urls[0]}}" alt="">
            <div class="center-header">
                <img src="{{actualGameStat.gameHeaderImage}}" alt="">
                <p>{{actualGameStat.gameName}}</p>
            </div>
            <img class="right-header" src="{{actualGameStat.gameScreenshot_urls[1]}}" alt="">
        </div>
        <div class="game-stats">
            <i class="fa-solid fa-person-digging"></i>
            <h5> Under construction ... </h5>
        </div>
    </ng-container>
</div>