.content {
    background-color: rgba(33, 47, 53, 0.8);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;  
    border-bottom: 4px solid rgb(26, 95, 112);
    height: 20rem;

}

.left-header {
    height: 20rem;
    width: 35%;
}

.center-header {
    text-align: center;
    width: 30%;
}

.center-header p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    font-size: 0.9vw;
    color: whitesmoke;
    background-color: rgba(32, 66, 83, 0.7);   
    font-family: 'Courier New', Courier, monospace;
}

.center-header img {
    height: 16rem;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.right-header {
    height: 20rem;
    width: 35%;
}
