.content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

}

.table {
    max-width: 60%;
    min-width: 20rem;
}

.table td {
    background-color: rgb(36, 75, 94);
    color: whitesmoke;
    cursor: pointer;
}

.table td:first-child{
    border-radius: 10px 0 0 10px;    
}

.table td:last-child{
    border-radius: 0 10px 10px 0;    
}

.table td img {
    width: 17rem;
    border-radius: 10px 0 0 10px;
}

.table td i {
    font-size: 1.5rem;
}

.fa-cart-plus {
    color: whitesmoke;
}

.fa-cart-plus:hover {
    color: green;
}

.fa-xmark:hover {
    color: red;
}

.price {
    color: black;
    background-color: rgb(50, 111, 139);
    box-shadow: 0px 0px 7px 10px rgb(50, 111, 139);
    border-radius: 40%;
    min-width: 5rem;
    width: max-content;
}

.headerIMG {
    height: 10rem;
}


.search {
    height: 60px;
    width: 100%;
    left: 50%;
    margin: 0 auto;
    background-image: linear-gradient(45deg, rgb(3, 53, 59), rgb(36, 75, 94));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.input-row{  
    width: 100%;
    display: flex;
}

.input-form {
    height: 2rem;
    min-width: 20rem;
    background-color: rgb(119, 152, 168);
    border: none;
    font-weight: 400;
    border-radius: 7px 0 0 7px;
    padding-left: 0.3rem;
}

.input-form:focus {
    outline: none;
    background-color: rgb(81, 163, 204);
}

.input-form::placeholder {
    font-weight: 400;
    color: black;
    opacity: 1;
    padding-left: 0.3rem;
}

.genres {
    height: 2rem;
    background-color: rgb(71, 141, 177);
    border: none;
    border-radius: 0 7px 7px 0;
}

.genres:focus{
   outline: none;
}

.clear-filter {
    margin: 0;
    height: 2rem;
    width: 3rem;
    background-color: rgb(16, 82, 100);
    border: none;
}
.platforms i{
    padding: 0.5rem;
  
}