.empty-community {
    display: flex;
    justify-content: center;
    height: max-content;
  }
  
  .empty-text {
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    width: max-content;
    background-image: linear-gradient(45deg, rgb(0, 24, 34), rgb(36, 75, 94));
    border-radius: 10px 10px 10px 10px;
  }
  