<div class="container-fluid header">
    <a class="item" routerLink="store" routerLinkActive="active">STORE</a>
    <a class="item" routerLink="library" routerLinkActive="active">LIBRARY</a>
    <a class="item" routerLink="community" routerLinkActive="active">COMMUNITY</a>
    <a class="item" routerLink="profile" routerLinkActive="active">{{userObject.username}}</a>
    <div class="right-side" *ngIf="isUserLoggedIn()">
        <div class="avatar">
            <img [src]="userObject.avatar" alt="avatar">
        </div>
        <div class="balance-logout">
            <p class="item right-item balance">{{userObject.balance}} €</p>
            <a class="item right-item" routerLink="login" routerLinkActive="active">LOGOUT</a>
        </div>
        <div class="cart" [ngClass]="{'cart-filled' : cartCounter>0}">
            <i class="fa-solid fa-cart-shopping" routerLink="cart" routerLinkActive="active"></i>
            <p *ngIf="cartCounter>0" class="cart-counter">{{cartCounter}}</p>
        </div>
    </div>
</div>