
.header{
 display: flex; 
 position: fixed;
 z-index: 1;
 background-color: black;
} 

.item {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 254, 254, 0.6);
  font-family: "Fredoka", sans-serif;
  font-size: calc(12px + 0.3vw);
  padding-top: calc(6px + 0.4vw);
  padding-bottom: calc(6px + 0.4vw);
  width: 10%;
}

.item:hover {
  color:   rgba(255, 254, 254, 0.9); 
}

.item-right{ 
  margin-left: auto;
}

.active{
  color:  rgba(255, 254, 254, 1); 
}