.header {
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: black;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 254, 254, 0.6);
  font-family: "Fredoka", sans-serif;
  font-size: 1.3rem;
  padding-right: 1rem;

}

.item:hover {
  color: rgba(255, 254, 254, 0.9);
}

.right-side {
  padding-top: 0.2rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-item {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.balance {
  cursor: pointer;
  color: rgb(157, 202, 88);
  font-size: 0.8rem;
}

.avatar {
  cursor: pointer;
  padding-bottom: 0.3rem;
  padding-top: 0.1rem;
  padding-right: 1rem;
}

img {
  background-color: aqua;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform .7s ease-in-out;
}

img:hover {
  transform: rotate(360deg);
}

.active {
  color: rgba(255, 254, 254, 1);
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart i {
  margin-left: 1rem;
  margin-right: 0.2rem;
  color: gray;
  font-size: 1.3rem;
  cursor: pointer;
}

.cart-filled,
.cart-filled i {
  color: rgb(210, 255, 8);
}

@media all and (max-width:850px) {
  .item {
    font-size: 1rem;
  }

  img {
    width: 30px;
    height: 30px;
  }

  .left-side {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .right-side {
    order: -1;
    width: 100%;
    justify-content: space-between;
  }

  .balance-logout {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .right-item {
    order: 1;
  }
}

@media all and (max-width:450px) {
#user-name{
  display: none;
}

}