<div class="container-fluid header">
    <a class="item" routerLink="store" routerLinkActive="active">STORE</a>
    <a class="item" routerLink="library" routerLinkActive="active">LIBRARY</a>
    <a class="item" routerLink="community" routerLinkActive="active">COMMUNITY</a>
    <a class="item" routerLink="profile" routerLinkActive="active">{{username}}</a>
    <div class="right-side" *ngIf="isUserLoggedIn()">
        <p class="item right-item balance">1500 €</p>    
        <a class="item right-item" routerLink="login" routerLinkActive="active" >LOGOUT</a>
    </div>
</div>