body {   
    background-image: url("../src/assets/img/background6.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: antiquewhite;
}

i {
    font-size: 2.5rem;
}