<div class="container-fluid" [ngStyle]="{'height.px': innerHeight}">
    <div class="row d-flex justify-content-center text-center pt-4">
        <div class="profile-container">
            <h3 class="username">{{user.userName}}</h3>
            <div>
                <img class="avatar" [src]="user.avatar" alt="avatar">
            </div>
            <form class="form">
                <div class="row g-3 align-items-center pt-3">
                    <div class="col">
                        <h5>Username:</h5>
                    </div>
                    <div class="col-7">
                        <input type="text" id="inputPassword6" class="form-control input-sm disabled-input" [formControl]="usernameInput" >
                    </div>
                </div>
                <div class="row g-3 align-items-center pt-3">
                    <div class="col">
                        <h5>Avatar URL:</h5>
                    </div>
                    <div class="col-7">
                        <input type="text" id="inputPassword6" class="form-control input-sm"   [formControl]="avatarInput">
                    </div>
                </div>
                <div class="row g-3 align-items-center pt-3">
                    <div class="col">
                        <h5>Email:</h5>
                    </div>
                    <div class="col-7">
                        <input type="text" id="inputPassword6" class="form-control input-sm"   [formControl]="emailInput">
                    </div>
                </div>
            </form>
            <div class="buttons">
                <button class="btn btn-secondary" (click)="saveNewUserData()">Save</button>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center text-center pt-4">
        <div class="profile-container">
            <i class="fa-solid fa-euro-sign"></i>
            <h5 class="pt-3 m-0 p-0">Add (fake) money to your balance:</h5>
            <p>Max. balance is 1500 €</p>
            <div class="buttons p-0">
                <button class="btn btn-secondary" (click)="balanceTopup()">Transfer</button>
            </div>
        </div>
    </div>